*,
*::before,
*::after{
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img, svg {
    width: 100%;
}

body{
    display: grid;
    place-content: center;
    align-items: start;
    min-height: 100vh;
    background-image: url('image/snow.jpeg');
    background-position: center center;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color: #333;
}
.countdown__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8rem;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}
.big__text{
    font-size: 3rem;
    font-weight: bold;
}

.countdown-el{
    font-size: 1.5rem;
}

@media (max-width: 600px){
    .countdown__container{
        text-align: center;
        margin-inline: 2rem;
        font-size: 1.5rem;
        gap: 3.5rem;
        width: 100%;
    }
     
}